
*{
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#3E718E 0%, #64969B 100%);
    padding-top: 10%; 
    box-sizing: border-box;
}

p {
    width: fit-content;
    font-size: 40px;
    color: white;
    margin: 0 auto;
    font-family: 'Space Grotesk', sans-serif;
}