
body {
    margin: 0;
}

.wrap {
    max-width: 100%;
    height: 960px;
    background: linear-gradient(#3E718E 0%, #64969B 100%);    
}

.main-container {
    width: 1500px;
    height: 960px;
    margin: 0 auto;
    padding-top: 146.5px;
    box-sizing: border-box;
}

section {
    width: 67%;
    height: 667px;
    background-color: lightgoldenrodyellow;
    margin: 0 auto;
    display: flex;
}

.left-column {
    width: 56%;
    height: 100%;
    background-color: #FFFFFF;
}

.creativ {
    width: 15%;
    height: 21px;
    margin-left: 32px;
    margin-top: 12px;
    margin-bottom: 68px;
}

.creativ p {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    line-height: 78%;
    margin: 0;
    padding-top: 1.5px;
}

form {
    width: 63%;
    margin: 0 auto;
}

.title {
    width: 58%;
    height: 36px;
    margin: 0 auto;
}

.title h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 36px;
    line-height: 141%;
    margin: 0;
    padding-top: 4px;
}

.your-name {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    line-height: 118%;
    margin-bottom: 3px;
}

.ade-tiger {
    width: 100%;
    height: 26px;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 0;
    box-sizing: border-box;
}

.email-address {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    line-height: 118%;
    margin-bottom: 3px;
}

.your-email {
    width: 100%;
    height: 26px;
    margin-bottom: 10px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    padding: 0;
    box-sizing: border-box;

}

.phone-number {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    line-height: 118%;
    margin-bottom: 3px;
}

.your-phone {
    width: 100%;
    height: 26px;
    margin-bottom: 10px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    line-height: 104%;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    padding: 0;
    box-sizing: border-box;
}

/* .password {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    line-height: 118%;
    margin-bottom: 3px;
} */

/* .your-password {
    width: 100%;
    height: 26px;
    margin-bottom: 3px;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    letter-spacing: 2px;
    font-size: 30px;
    padding: 0;
    box-sizing: border-box;
}

.password-condition-1 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #A8A8A8;
    margin: 0;
}

.password-condition-2 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #A8A8A8;
    margin: 0;
    margin-bottom: 10px;
} */

.location {
    margin: 0;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.location span {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A8A8A8;
    margin-left: 9px;
}

.select-location {
    width: 100%;
    height: 26px;
    margin-bottom: 94px;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.submit-sign-up {
    margin: 0 auto 12px;
    width: 100%;
    height: 34px;
    background: #27485D;
    border: 1px solid #284A5E;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    text-align: center;
}

.submit-sign-up:hover {
    cursor: pointer;
}

.submit-sign-up a {
    margin-top: 4px;
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.login {
    width: 180px;
    height: 24px;
    margin: 0 auto;
    text-align: center;
}

.login p {
    display: inline-block;
    margin: 0;
    padding-top: 3px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #C4C4C4;
}

.login a {
    margin-left: 11px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #476D73;
}

.right-column {
    width: 44%;
    height: 100%;
    background-color: #FFFFFF;
}

.right-column-card {
    width: 98.5%;
    height: 99%;
    background: linear-gradient(#517879 0%, #214159 100%);
    margin: 1% auto;
    box-shadow: 0px 0px 5px 5px #4E7577;
    text-align: center;
}

.navigation {
    width: 132px;
    height: 24px;
    padding-top: 8px;
    float: right;
    margin-right: 12px;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.navigation ul li {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.navigation ul li:hover {
    cursor: pointer;
}

.right-column-card-title {
    width: 307px;
    height: auto;
    display: inline-block;
    margin-top: 200px;
    margin-bottom: 15px;
}

h1 {
    margin: 0;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
}

.right-column-card p {
    margin: 0;
    text-align: left;
    margin-left: 80px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.success {
    border: 2px solid green;
}

.error {
    border: 2px solid red;
}





/* -------------MIN-WIDTH 1200px and MAX-WIDTH 1500px---------- */




@media (min-width: 1200px) and (max-width: 1500px) {
    .wrap {
        width: 1500px;
        height: 960px;
        background: linear-gradient(#3E718E 0%, #64969B 100%);    
    }
    
    .main-container {
        width: 100%;
        height: 960px;
        margin: 0 auto;
        padding-top: 146.5px;
        box-sizing: border-box;
    }

    .title {
        width: 75%;
        height: 36px;
        margin: 0 auto;
    }
    
    .title h2 {
        font-family: 'Space Grotesk', sans-serif;
        font-size: 20px;
        font-weight: bold;
        line-height: 36px;
        line-height: 141%;
        margin: 0;
        padding-top: 4px;
    }
}




/* -------------MIN-WIDTH 992px and MAX-WIDTH 1199px---------- */





@media (min-width: 992px) and (max-width: 1199px) {
    .wrap {
        width: 1199px;
        height: 960px;
        background: linear-gradient(#3E718E 0%, #64969B 100%);    
    }
    
    .main-container {
        width: 100%;
        height: 960px;
        margin: 0 auto;
        padding-top: 146.5px;
        box-sizing: border-box;
    }

    .title {
        width: 90%;
        height: 36px;
        margin: 0 auto;
    }
    
    .title h2 {
        font-family: 'Space Grotesk', sans-serif;
        font-size: 20px;
        font-weight: bold;
        line-height: 36px;
        line-height: 141%;
        margin: 0;
        padding-top: 4px;
    }

    .right-column-card-title {
        width: 100%;
    }

    .right-column-card-title h1 {
        font-size: 40px;
    }
}





/* -------------MIN-WIDTH 768px and MAX-WIDTH 991px---------- */





@media (min-width: 768px) and (max-width: 991px) {

    section {
        width: 90%;
    }

    .wrap {
        width: 991px;
        height: 960px;
        background: linear-gradient(#3E718E 0%, #64969B 100%);    
    }
    
    .main-container {
        width: 100%;
        height: 960px;
        margin: 0 auto;
        padding-top: 146.5px;
        box-sizing: border-box;
    }

    .title {
        width: 90%;
        height: 36px;
        margin: 0 auto;
    }
    
    .title h2 {
        font-family: 'Space Grotesk', sans-serif;
        font-size: 20px;
        font-weight: bold;
        line-height: 36px;
        line-height: 141%;
        margin: 0;
        padding-top: 4px;
    }

    .right-column-card-title {
        width: 250px;
        height: auto;
        display: inline-block;
        margin-top: 200px;
        margin-bottom: 15px;
    }
    
    h1 {
        margin: 0;
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 60px;
        color: #FFFFFF;
    }

    .right-column-card p {
        margin: 0;
        text-align: left;
        margin-left: 35px;
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }
    
}



/* -------------MIN-WIDTH 576px and MAX-WIDTH 767px---------- */




@media (min-width: 576px) and (max-width: 767px) {
    
    .wrap {
        height: fit-content;
    }

    .main-container {
        width: 100%;
        padding-top: 0;
        height: fit-content;
    }

    section {
        width: 100%;
        flex-direction: column;
    }

    .left-column {
        width: 100%;
        order: 2;
    }

    .creativ {
        margin-bottom: 30px;
    }

    .right-column {
        width: 100%;
        order: 1;
    }

    .right-column-card-title {
        margin-top: 50px;
        margin-bottom: 25px;
    }
}





/* ---------------MAX-WIDTH 576px---------------- */




@media (max-width: 576px) {
    .wrap {
        height: fit-content;
    }

    .main-container {
        width: 100%;
        padding-top: 0;
        height: fit-content;
    }

    section {
        width: 100%;
        flex-direction: column;
    }

    .left-column {
        width: 100%;
        order: 2;
    }

    .select-location {
        margin-bottom: 50px;
    }

    .creativ {
        margin-bottom: 30px;
    }

    .title {
        width: 100%;
    }

    .right-column {
        width: 100%;
        order: 1;
    }

    .right-column-card-title {
        margin-top: 40px;
        margin-bottom: 25px;
    }

    .right-column-card-title h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .right-column-card p {
        margin-bottom: 20px;
    }
}
